/*
# Colors
*/

// Farver fra eco-info.dk
$eco-1: #666632;
$eco-2: #CCCC98;
$eco-3: rgb(236, 236, 221);
$eco-4: #FAFAF4;
$eco-5: #cc9933;


// Farver fra Jeppes computer
$contrast-1: #7cc576;
$contrast-2: #639261;
$contrast-3: #425541;
